<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Choose a YAML File to Upload</h1>
    <input type="file" id="fileInput" />
    
    <label for="startDateInput">Start Date:</label>
    <input type="date" id="startDateInput" />

    <label for="endDateInput">End Date:</label>
    <input type="date" id="endDateInput" />

    <button onclick="submitForm()">Submit</button>
    <div id="result"></div>

    <script>
        function submitForm() {
            var fileInput = document.getElementById('fileInput');
            var file = fileInput.files[0];
            var formData = new FormData();
            formData.append('file', file);

            var startDateInput = document.getElementById('startDateInput');
            var startDate = startDateInput.value;
            formData.append('startDate', startDate);

            var endDateInput = document.getElementById('endDateInput');
            var endDate = endDateInput.value;
            formData.append('endDate', endDate);

            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    document.getElementById('result').innerHTML = response;
                },
                error: function (xhr, status, error) {
                    document.getElementById('result').innerHTML = xhr.responseText;
                }
            });
        }
    </script>
</body>
</html>

