<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-bundle.min.js"></script>
</head>
<body>
    <h1>Choose a YAML File to Upload</h1>
    <input type="file" id="fileInput" />
    
    <label for="startDateInput">Start Date:</label>
    <input type="date" id="startDateInput" />

    <label for="endDateInput">End Date:</label>
    <input type="date" id="endDateInput" />

    <button onclick="submitForm()">Submit</button>
    <div id="result"></div>
    <div id="sankey-chart" style="width: 100%; height: 100vh;" data=[{}]></div>

    <script>
        var chart;

        function createChart(data) {
            const formattedData = data.map(d => [d.Source, d.Destination, d['Monthly Payment']]);
            chart = anychart.sankey(formattedData);
            chart.container('sankey-chart');
            chart.draw();
        }

	function updateChart(data) {
		    const formattedData = data.map(d => [d.Source, d.Destination, d['Monthly Payment']]);
		    var chart = anychart.getChartById('sankey-chart'); // Get the existing chart
		    chart.data(formattedData);
		    // set the container id
		    chart.container('sankey-chart');
		    // initiate drawing the chart
		    chart.draw();
		}
	function submitForm() {
		    var fileInput = document.getElementById('fileInput');
		    var file = fileInput.files[0];
		    var formData = new FormData();
		    formData.append('file', file);

		    var startDateInput = document.getElementById('startDateInput');
		    var startDate = startDateInput.value;
		    formData.append('startDate', startDate);

		    var endDateInput = document.getElementById('endDateInput');
		    var endDate = endDateInput.value;
		    formData.append('endDate', endDate);

		    $.ajax({
			url: '/upload',
			type: 'POST',
			data: formData,
			processData: false,
			contentType: false,
			success: function (response) {
			    if (!chart) {
				console.log(response.account_state)
				createChart(response.sankey_data);
			    } else {
				console.log(response.account_state)
				updateChart(response.sankey_data);
			    }
			},
			error: function (xhr, status, error) {
			    document.getElementById('result').innerHTML = xhr.responseText;
			}
		    });
		}

	    </script>
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
</body>
</html>

